.FolderButton, .FileButton {
    background: none;
    border: none;
    padding: 0.5em;
}

.FolderButton:hover, .FileButton:hover {
    background-color: #5F96FCAA;
    border-radius: 5px;
    cursor: pointer;
}

.icon {
    background: url(./src/assets/empty-folder.png);
    float: left;
    margin-right: 0.5em;
    width: 20px;
    height: 20px;
}

